* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #222;
    font-family: 'Pixelify Sans', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .app-container {
    width: 400px;
    height: 650px;
    position: relative;
    background: #FFDAB9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }
  
  .title {
    color: #FFA800;
    font-size: 32px;
    letter-spacing: 1.8px;
  }
  
  .controls {
    display: flex;
    gap: 12px;
  }
  
  .control-btn {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
  }
  
  .main-content {
    width: 380px;
    height: 580px;
    margin: 0 auto;
    border: 8px solid #FFA800;
    border-radius: 12px;
    position: relative;
    overflow: auto;
    background: url('./assets/Background 3.png');
    background-size:contain;
  }

  .main-content::-webkit-scrollbar {
    display: none;
  }

  .menu-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5%;
    transform: translateY(-50%);
    color: #1E1E1E;
    font-size: 23px;
    letter-spacing: 1.8px;
    z-index: 2;
}

.edit-form {
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
  .message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    color: #1E1E1E;
    font-size: 32px;
    letter-spacing: 1.8px;
  }
  
  .start-btn {
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 35%;
width: 220px;
height: 70px;
background: #FFDAB9;
border: 4px solid #FFA800;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.5s ease-in-out;
}

.start-btn:hover {
transform: translateX(-50%) scale(1.2);
}
  
  .start-text {
    color: #FFA800;
    font-size: 36px;
    font-family: 'Pixelify Sans', cursive;
    letter-spacing: 1.8px;
  }

  .menu-heading {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5%;
    transform: translateY(-50%);
    color: #1E1E1E;
    font-size: 23px;
    letter-spacing: 1.8px;
  }
  
  .menu-options {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 0 30px;
    top: 20%;
    height: calc(100% - 120px);
  }
  
  .menu-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .entry-form {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    top: 20%;
    height: calc(100% - 120px);
  }

  .write-container{
    width: 340px;
    height: 450px;
    background: #FFDAB9;
    border: 5px #FFA800 solid;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10%;

  }

  .submit-button{
    width: 100px;
    height: 45px;
    background: #FFDAB9;
    border: 5px #50C878 solid;
    bottom: -28%;
    position: absolute;
    right: -200%;
    font-family: 'Pixelify Sans', cursive;
    font-size: 10px;
    color: #50C878;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .submit-button:hover{
    transform: scale(1.1);
  }
  .return-to-menu-view{
    width: 100px;
    height: 45px;
    background: #FFDAB9;
    border: 5px #FA5053 solid;
    top: 4%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3%;
    font-family: 'Pixelify Sans', cursive;
    font-size: 10px;
    color: #FA5053;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  .return-to-menu-view:hover{
    transform: scale(1.1);
  }
  
  .return-to-menu-write {
    width: 100px;
    height: 45px;
    background: #FFDAB9;
    border: 5px #FA5053 solid;
    bottom: -13%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 2%;
    font-family: 'Pixelify Sans', cursive;
    font-size: 10px;
    color: #FA5053;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .return-to-menu-write:hover{
    transform: scale(1.1);
  }

  .entry-content{
    width: 329px;
    height: 350px;
    background: #FFDAB9;
    top: 0%;
    position: absolute;
    font-family: 'Pixelify Sans', cursive;
    font-size: 15px;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    resize: none;
  }

  .entry-content:focus{
    outline: none;
  }
  .entry-title {
    width: 150px;
    height: 45px;
    background: #FFDAB9;
    position: absolute;
    left: -200%;
    top: -25%;
    font-family: 'Pixelify Sans', cursive;
    font-size: 15px;
    color: black;
    letter-spacing: 1.8px;
    border: none;
    resize: none;
  }

  .entry-title:focus {
    outline: none;
  }

  .entry-date {
    width: 150px;
    height: 45px;
    background: #FFDAB9;
    position: absolute;
    right: -200%;
    top: -25%;
    font-family: 'Pixelify Sans', cursive;
    font-size: 15px;
    color: black;
    letter-spacing: 1.8px;
    border: none;
    resize: none;
  }

  .entry-date:focus {
    outline: none;
  }

  

  
  
  .icon-placeholder {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .view-icon {
    background-color: transparent;
    background-image: url('assets/view frames/View image.png');
    transition: transform 0.2s;
  }
  
  .book-icon {
    background-color: transparent;
    background-image: url('assets/book frames/Book icon 2.png');
    transition: transform 0.2s;
  }
  
  .settings-icon {
    background-color: transparent;
    background-image: url('assets/settings frames/Settings.png');
    transition: transform 0.2s;
  }
  
  .exit-icon {
    background-color: transparent;
    background-image: url('assets/door frames/Door.png');
    transition: transform 0.2s;
  }

 
  
  .option-text {
    font-size: 24px;
    color: #000;
    text-align: center;
  }

  .settings-icon:hover {
    transform: scale(1.1);
    animation: settings_animation 0.6s forwards;
  }

  .book-icon:hover {
    transform: scale(1.1);
    animation: book_animation 1s infinite;
  }

  .exit-icon:hover {
    transform: scale(1.1);
    animation: door_animation 1s forwards;
    cursor: pointer;
  }
  .view-icon:hover {
    transform: scale(1.1);
    animation: view_animation 1.5s infinite;
  }

  @keyframes settings_animation {
    0% { background-image: url('assets/settings frames/Settings.png'); }
    25% { background-image: url('assets/settings frames/Settings frame 2.png'); }
    50% { background-image: url('assets/settings frames/Settings frame 3.png'); }
    75% { background-image: url('assets/settings frames/Settings frame 4.png'); }
    100% { background-image: url('assets/settings frames/Settings final frame.png'); }
  }

@keyframes book_animation {
    0% { background-image: url('assets/book frames/Book icon 2.png'); }
    14.3% { background-image: url('assets/book frames/Book frame 2.png'); }
    28.6% { background-image: url('assets/book frames/Book frame 3.png'); }
    42.9% { background-image: url('assets/book frames/Book frame 4.png'); }
    57.2% { background-image: url('assets/book frames/Book frame 5.png'); }
    71.5% { background-image: url('assets/book frames/Book frame 6.png'); }
    85.8% { background-image: url('assets/book frames/Book frame 7.png'); }
    100% { background-image: url('assets/book frames/Book frame 8.png'); }
}

@keyframes door_animation{
    0% {background-image: url('assets/door frames/Door.png');}
    20% {background-image: url('assets/door frames/Door frame 2.png');}
    40% {background-image: url('assets/door frames/Door frame 3.png');}
    60% {background-image: url('assets/door frames/Door frame 4.png');}
    80% {background-image: url('assets/door frames/Door frame 5.png');}
    100% {background-image: url('assets/door frames/Door frame 6.png');}
}

@keyframes view_animation{
    0% { background-image: url('assets/view frames/View image.png'); }
    7.7% { background-image: url('assets/view frames/Eye frame 2.png'); }
    15.4% { background-image: url('assets/view frames/Eye frame 3.png'); }
    23.1% { background-image: url('assets/view frames/Eye frame 4.png'); }
    30.8% { background-image: url('assets/view frames/Eye frame 5.png'); }
    38.5% { background-image: url('assets/view frames/Eye frame 6.png'); }
    46.2% { background-image: url('assets/view frames/Eye frame 7.png'); }
    53.9% { background-image: url('assets/view frames/Eye frame 8.png'); }
    61.6% { background-image: url('assets/view frames/Eye frame 9.png'); }
    69.3% { background-image: url('assets/view frames/Eye frame 10.png'); }
    77% { background-image: url('assets/view frames/Eye frame 11.png'); }
    84.7% { background-image: url('assets/view frames/Eye frame 12.png'); }
    92.4% { background-image: url('assets/view frames/Eye frame 13.png'); }
    100% { background-image: url('assets/view frames/View image.png'); }
}

.entries-container {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  background-color: white;
  border-radius: 5px;
  background: #FFDAB9;
  border: 5px #FFA800 solid;
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  min-height: 100px; /* Set a minimum height */
}

.entry p, .entry h2 {
  margin: 5px 0; /* Add some margin to separate the elements */
}

.display-content {
  width: 80%;
  background: #FFDAB9;
  overflow: auto;
  font-family: 'Pixelify Sans', cursive;
  font-size: 13px;
  color: black;
  line-break: anywhere;
  height: auto; /* Allow height to adjust based on content */
  max-height: 300px; /* Optional: Set a max height if needed */
  margin-top: 10px; /* Add margin to push content further down */
}

.display-content::-webkit-scrollbar {
  display: none;
}

.edit-form {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure full height of the parent */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFDAB9;
  padding: 10px;
  box-sizing: border-box;
}

.edit-content {
  flex-grow: 1;
  width: 100%;
  background: #FFDAB9;
  overflow: auto;
  font-family: 'Pixelify Sans', cursive;
  font-size: 13px;
  color: black;
  line-break: anywhere;
  height: auto; /* Allow height to adjust based on content */
  min-height: 100px; /* Set a minimum height */
  max-height: none; /* Remove max height */
  margin-top: 10px;
  border: none;
  resize: none;
}

.edit-content:focus {
  outline: none;
}

.edit-title {
  border: none;
  resize: none;
  background-color: #FFDAB9;
  font-family: 'Pixelify Sans', cursive;
  font-size: 16px;
}

.edit-title:focus {
  outline: none;
}

.edit-date {
  border: none;
  resize: none;
  background-color: #FFDAB9;
  font-family: 'Pixelify Sans', cursive;
}

.edit-date:focus {
  outline: none;
}

.delete-btn, .edit-btn {
  position: absolute;
  top: 10px;
  background-color: #FA5053;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Pixelify Sans', cursive;
  font-size: 12px;
}

.edit-btn {
  right: 0;
  height: 50%;
  top: 0;
  background-color: #4DA6FF;
  width: 58px;
}

.delete-btn {
  right: 0;
  top: 50%;
  height: 50%;
  width: 58px;
}

.delete-btn:hover {
  background-color: #fe282c;
}

.edit-btn:hover {
  background-color: #4d8cff;
}

.save-btn {
  background-color: #FFDAB9;
  border: #50C878 5px solid;
  color: #50C878;
  font-family: 'pixelify sans', cursive;
  font-size: 15px;
  width: 20%;
  left: 100%;
  margin-left: 80%;
  bottom: 0;
  transition: 0.5s ease-in-out;
}

.save-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Scrollbar styling */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #FFDAB9;
}

*::-webkit-scrollbar-thumb {
  background: #FFA800;
  border-radius: 3px;
}
